.look-at-the-mouse{
    transition-property: transform;
    transition-duration: 0.7s;
    transition-delay: 0.1s;
}
.mouse-left .look-at-the-mouse{
    transform: scaleX(-1);
}

#main-menu.show {
    animation: opacity 0.2s
}
#main-menu.show #nav-elements {
    animation: from-bottom-to-top 1s
}

@keyframes from-bottom-to-top {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0rem);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* adding additional aos durations https://github.com/michalsnik/aos */
body[data-aos-delay='4200'] [data-aos],
[data-aos][data-aos-delay='4200'] {
  transition-delay: 4200ms;
}