h1, h2, h3, h4, h5, h6{
	color:white;
}

.bg-normal { background-color: black; }
.text-normal { color:white; }
.border-normal{ border-color: white!important;  }
.bg-accent{ background-color: white; }
.text-accent{ color: black; }
.border-accent{ border-color: black!important; }

.btn-link{
	background-color: transparent;
	color:white;
	text-decoration: none;
}
.btn-link:hover{
	background-color: transparent;
	color:white;
	text-decoration: none;
}

.bar1::before, .bar1::after,
.bar2::before, .bar2::after,
.bar3::before, .bar3::after{
    background: white;
}