h1, h2, h3, h4, h5, h6{
	color:#DFDEDB;
}

.bg-normal { background-color: black; }
.text-normal { color:#DFDEDB; }
.bg-accent{ background-color: #DFDEDB; }
.text-accent{ color: black; }

.btn-link{
	background-color: transparent;
	color:#DFDEDB;
	text-decoration: none;
}
.btn-link:hover{
	background-color: transparent;
	color:#DFDEDB;
	text-decoration: none;
}