h1, h2, h3, h4, h5, h6{
	color: black;
}

.bg-normal { background-color: white; }
.text-normal { color:black; }
.border-normal{ border-color: black!important; }
.bg-accent{ background-color: black; }
.bg-accent2{ background-color: #439db1; }
.text-accent{ color: white; }
.border-accent{ border-color: white!important; }
.border-accent2{ border-color: #439db1; }

.btn-link{
	background-color: transparent;
	color:black;
	text-decoration: none;
}
.btn-link:hover{
	background-color: transparent;
	color:black;
	text-decoration: none;
}

.bar1::before, .bar1::after,
.bar2::before, .bar2::after,
.bar3::before, .bar3::after{
    background: black;
}

.invert-on-light{
    filter: invert(100%);
}
.invert-color.invert-on-light{
    filter: invert(0%);
}

.btn-buy-now {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.btn-buy-now:hover {
	color:black
}